@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>About</h1>
<img src="/images/lucky.png" width="100" height="100"/>
<p>This is Created By Taorem Lucky Singh<br>Registration Number: 12203018<br>Roll Number: 23</p>